.container {
  display: grid;
  grid-gap: 1px 3px;
  /* grid-template-columns: repeat(20, 1fr); */
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  border-radius: 0.5rem;
  margin: 0, auto;
  user-select: none;
}

.container > div {
  height: 5px;
  background: #ffdbc9;
}

div.selectable {
  height: 5px;
  background: #ffdbc9;
}

div.selected {
  background: #ffa071;
}

.selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}
